body {
	padding-top: 40px;
	padding-bottom: 80px;
	background-color: #fdfdfd;
    font-size: 18px;
}

pre {
	font-size: 16px;
}

p, code, pre {
	line-height: 1.6666666667;
}

.profile-summary {
	background-color: #fdfdfd;
	padding: 0px !important;
}

.post-container {
	width: 70%;
}

.update-container {
	width: 70%;
}

.update {
	font-size: 1.5em;
}

@media only screen and (max-width : 640px) {
	.post-container {
		width: 100%;
	}
	
	.update-container {
		width: 100%;
	}
}

.header {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

a.text-muted {
	text-decoration: none;
}

a.text-muted:hover {
	color: #999999;
}

.blog-index li {
    list-style-type: none;
	line-height: 50px;
	border-bottom: 1px solid #e5e5e5;
}

.blog-index ul {
	padding: 0px;
}

.links {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0px 10px 0px;
	margin-bottom: 20px;
}

.category-labels {
	float: right;
}

code, pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#disqus_thread {
	margin-top: 100px;
}